:root{
  --margin: 70px auto;
  --max-width: 1200px;
  --max-width-sm: 1000px;

  --rgb: 50, 50, 50;
  /* --primary-rgb: 65, 134, 255; */

  --main: rgb(var(--rgb));
  --secondary: rgba(var(--rgb), 0.6);
  --primary: rgb(var(--primary-rgb));

  --border-color: rgba(var(--rgb), 0.06);
  --shadow-color: rgba(var(--rgb), 0.1);
  --shadow-color-hover: rgba(var(--rgb), 0.2);

  --bg-main: rgb(252, 252, 253);
  --bg-secondary: rgba(var(--rgb), 0.03);
  --bg-primary: rgba(var(--primary-rgb), 0.15);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  background: var(--bg-main);
}

::-webkit-scrollbar{
  display: none;
}

::-webkit-calendar-picker-indicator{
  cursor: pointer;
}

::placeholder,
input[type="date"]{
  color: var(--secondary);
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

button, input{
  border: none;
  outline: none;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h2{
  font-size: 2.4rem;
  color: var(--main);
  font-weight: 700;
}

p{
  color: var(--secondary);
  margin: 10px 0;
}

@media (max-width: 600px) {
  h2{
    font-size: 2rem;
    line-height: 2.9rem;
  }
}

@media (max-width: 300px) {
  h2{
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}